<section class="space-in-left-kilo-md">
    <p class="space-minus-left-kilo-md space-out-bottom-zero-md">
        <span class="logo">
            <span class="logo-icon">
                <img srcset="
                    https://paulradzkov.com/avatar/paulradzkov_96x96.jpg 2x,
                    https://paulradzkov.com/avatar/paulradzkov_192x192.jpg 4x
                    " src="https://paulradzkov.com/avatar/paulradzkov_48x48.jpg" width="48" height="48" alt="Павел Радьков">
            </span>
            <span class="logo-txt">
                <span class="logo-name">Павел&nbsp;Радьков</span>
            </span>
        </span>
    </p>
    <p>Дизайнер интерфейсов и верстальщик из Минска. Специализируюсь на проектировании сайтов и сервисов, рисую интерфейсы, верстаю прототипы, создаю npm-пакеты, которые помогают быстрее и аккуратнее делать проекты. Связаться: <a  href="mailto:radzkov@gmail.com">radzkov@gmail.com</a></p>
    <p class="space-out-bottom-micro-xs">
        <a class="display-inline-block link space-out-right-mili-xs space-out-bottom-nano-xs" href="https://github.com/paulradzkov" target="_blank" rel="noopener">GitHub</a>
        <a class="display-inline-block link space-out-right-mili-xs space-out-bottom-nano-xs" href="https://codepen.io/paulradzkov/" target="_blank" rel="noopener">Codepen</a>
        <a class="display-inline-block link space-out-right-mili-xs space-out-bottom-nano-xs" href="https://www.linkedin.com/in/paulradzkov" target="_blank" rel="noopener">LinkedIn</a>
        <a class="display-inline-block link space-out-right-mili-xs space-out-bottom-nano-xs" href="https://qna.habr.com/user/paulradzkov" target="_blank" rel="noopener">Хабр Q&A</a>
        <a class="display-inline-block link space-out-right-mili-xs space-out-bottom-nano-xs" href="https://twitter.com/paulradzkov" target="_blank" rel="noopener">Twitter</a>
        <a class="display-inline-block link space-out-right-mili-xs space-out-bottom-nano-xs" href="https://www.instagram.com/paulradzkov/" target="_blank" rel="noopener">Instagram</a>
    </p>
</section>
