body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	color: #484848;
}
.base {
	display: table;
}
.left, .right {
	display: table-cell;
	vertical-align: top;
	width: 50%;
}

.left {
	font-weight: 500;
}

/* force Helvetica for left column */
.left * {
	font-family: "Helvetica Neue";
}
/* default Arial fallback for right column */
.right {
	font-family: Arial;
}
.arial {
	font-family: Arial;
}
.helvetica {
	font-family: "Helvetica Neue";
}
.liberation {
	font-family: "Liberation Sans", Arial;
}
.arimo {
	font-family: "Arimo", Arial;
}
.moderna {
	font-family: "mgopen_modernabold", Arial;
}
.roboto {
	font-family: "Roboto", Arial;
}
.lato {
	font-family: "Lato", Arial;
}
.tex-gyre-heros {
	font-family: "Tex Gyre Heros", Arial;
}

.arial,
.helvetica,
.liberation,
.moderna,
.arimo,
.roboto,
.lato,
.tex-gyre-heros {
	position: relative;
}
.font-title,
.arial:before,
.helvetica:before {
	position: absolute;
	top: 2em;
	left: 1em;
	font-size: 12px;
	color: #999;
}


.arial:before {
	content: 'Arial';
}
.helvetica:before {
	content: "Helvetica Neue";
}

.header {
	padding: 80px 80px 40px;
	background: #333;
	color: #FFF;
	min-height: 350px;
}

.promo-header {
	font-size: 46px;
	font-weight: 700;
	text-transform: uppercase;
}
.promo-content {
	font-size: 24px;
	font-weight: 400;
}
.left .promo-content {
	font-weight: 500;
}
.island {
	padding: 80px;
	min-height: 500px;
}
.island-title {
	color: #730000;
}

h1 {
	font-size: 34px;
	line-height: 1.1;
}

h2 {
	font-size: 28px;
	line-height: 1.2;
}
h3 {
	
}
p {
	line-height: 1.4;
}

p a {
	color: #006bbd;
	text-decoration: none;
}

.button {
	display: inline-block;
	border-radius: 4px;
	padding: 0.5em 1em;
	color: #FFF;
	background: #cd0000;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
.download {
	background: #0877db;
}

.fullwidth {
	width: 100%;
	table-layout: fixed;
	border-top: 1px solid #AAA;
	padding-top: 40px;
}


/* customs */
.lato h1 {
	font-weight: 900;
}