.markdown-cheatsheet {
  position: relative;
  z-index: 100;
  margin: 2em -2em;
  margin: 2rem -2rem;
  max-width: none;
  border: 20px solid #DDD;
  background: #FFF;
}
.CodeMirror pre {
  text-align: left;
  border: none;
}
#in .CodeMirror {
  overflow: auto;
  font-size: 16px;
  line-height: 25px;
}
/* 1 - fixes line-height */
#in .CodeMirror pre span {
  vertical-align: top; /* 1 */
}
.CodeMirror-scroll {
  height: 100%;
  min-height: 100%;
}
.markdown-cheatsheet-inner {
  display: table;
  width: 100%;
  table-layout: fixed;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.markdown-cheatsheet-inner > div {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}
#in {
  width: 50%;
  background-color: #F7F7F0;
  box-shadow: inset -20px 0 20px -10px rgba(0,0,0,0.1);
}
#out {
  overflow: auto;
  padding: 2em 3em;
  background-color: #fff;
  font-size: 14px;
}
#out p code {
  padding: 0 0.3em;
  border: 1px solid #DDD;
  border-radius: 2px;
  background: #F7F7F0;
  color: #000;
}
#out pre code {
  min-width: 0;
  display: block;
}
@media screen and (max-width: 1024px) {
  .markdown-cheatsheet {
    border: none;
  }
  #out {
    display: none;
  }
}