					<div class="">
						<p class="header-logo">
							<a class="logo" href="/">
								<span class="pic">
									<img src="/i/paulradzkov.jpg" width="120" height="120" alt="Павел Радьков">
								</span>
								<span class="site-name">Павел&nbsp;Радьков</span>
								<span class="title">Веб-разработчик</span>
							</a>
						</p>
						<div class="intro-text" style="display: none;">
							<p>Приветствую! <br> Я фронт-энд разработчик и занимаюсь любимым делом. Интересуюсь дизайном, графикой, интерфейсами. Живу в Минске, работаю в <a href="http://belitsoft.ru" target="_blank">Belitsoft</a>.</p>
						</div>
						<!--nav class="contact-links">
							<ul class="horizontal-nav">
								<li><a href="mailto:radzkov@gmail.com" target="_blank"><i class="icon-envelope"></i> <span class="hidden">radzkov@gmail.com</span></a></li>
								<li><a href="http://plus.google.com/115202814477140711940/about" target="_blank"><i class="icon-google-plus"></i> <span class="hidden">google+</span></a></li>
								<li><a href="http://twitter.com/#!/paul_radzkov" target="_blank"><i class="icon-twitter"></i> <span class="hidden">@paul_radzkov</span></a></li>
								<li><a href="http://github.com/interpaul" target="_blank"><i class="icon-github"></i> <span class="hidden">github</span></a></li>
								<li><a href="http://cssdeck.com/user/interpaul" target="_blank"><i class="icon-code"></i> <span class="hidden">cssdeck</span></a></li>
							</ul>
						</nav-->
					</div>