					<div class="dtb">
						<p class="dtbc-logo header-logo">
							<a class="logo" href="/">
								<span class="pic">
									<img src="/i/paulradzkov.jpg" width="120" height="120" alt="Павел Радьков">
								</span>
								<span class="site-name">&lt;&thinsp;Павел&nbsp;Радьков&thinsp;/&gt;</span>
							</a>
						</p>
						<div class="dtbc-intro-text">
							<p>Приветствую! Я фронт-энд разработчик и занимаюсь любимым делом. Интересуюсь дизайном, графикой, интерфейсами. Живу в Минске, работаю в <a href="http://belitsoft.ru" target="_blank">Belitsoft</a>.</p>
						</div>
						<nav class="dtbc-contact-links">
							<ul class="vertical-nav">
								<li><a href="mailto:radzkov@gmail.com" target="_blank"><i class="icon-envelope"></i> radzkov@gmail.com</a></li>
								<li><a href="http://plus.google.com/115202814477140711940/about" target="_blank"><i class="icon-google-plus"></i> google+</a></li>
								<li><a href="http://twitter.com/#!/paul_radzkov" target="_blank"><i class="icon-twitter"></i> @paul_radzkov</a></li>
								<li><a href="http://github.com/interpaul" target="_blank"><i class="icon-github"></i> github</a></li>
								<li><a href="http://cssdeck.com/user/interpaul" target="_blank"><i class="icon-code"></i> cssdeck</a></li>
							</ul>
						</nav>
					</div>