html,body {font: 14px/1.4 Arial;}

.container {
    width:60%;
    margin:40px auto;
    background: #eee;
    padding: 1em;
}

/*** 
- Media object from twitter bootstrap - 
http://twitter.github.com/bootstrap/components.html#media
***/
.media,
.media-body {
    overflow: hidden;
    *overflow: visible;
    zoom: 1;
}
.media,
.media .media {
    margin-top: 15px;
}
.media:first-child {
    margin-top: 0;
}
.media-object {
    display: block;
}
.media-heading {
    margin: 0 0 5px;
}
.media .pull-left {
    float: left;
    margin-right: 10px;
}
.media .pull-right {
    float: right;
    margin-left: 10px;
}
.media-list {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
/* end of media */

/* some improvement */
.media-body {
    min-width: 15em;
}
/*.media-body:before {
    content: '';
    max-width: 15em;
    display: block;
    height: 20px;
    background: rgba(255,0,0,0.2);
    margin-top: -15px;
}
.media-body:after {
    content: '';
    max-width: 15em;
    display: block;
    height: 20px;
    background: rgba(255,0,0,0.2);
    margin-top: -15px;
}
*/
i {
    float: left;
    width: 15em;
    height: 1em;
    background: rgba(255,0,0,0.2);
}
b {
    float: left;
    width: 15em;
    height: 1em;
    background: rgba(255,0,255,0.2);
}
.media-object {
    max-width: 100%;
}
/*.pull-left:after {
    content: '';
    min-width: 15em;
    display: block;
    float: left;
    height: 20px;
    background: rgba(255,255,0,0.2);
}*/

.media:after {
    content: '';
    min-width: 15em;
    display: block;
    float: left;
    height: 20px;
    background: rgba(255,255,0,0.2);
}

/* liquid */
.media-liquid {

}

.media-liquid .pull-left,
.media-liquid .pull-right {
    width: 40%;
}

/*****     - flashmagazine styles -    *****/
/*** core styles ***/
#flashmagazine {

}
#flashmagazine .flashmag-list {
    list-style-type:none;
    padding:0; 
    margin:0;
}
#flashmagazine .flashmag-list-item {
    display:block;
    list-style:none;
    list-style-image:none;
    height:1%;
    overflow:hidden;
    padding:20px 0 10px 0;
}
#flashmagazine .flashmag-pict {
    float:left;

}
#flashmagazine .flashmag-pict {
    width:40%;
    height:auto;
    margin:0;
    overflow:hidden;
    min-width:200px;
}
#flashmagazine .flashmag-img {
    display:block;
    margin:0 auto 0;
    max-width:90%;
    height:auto !important;
    border:none;
}
#flashmagazine .flashmag-descr {
    /*max-width:50%;*/
    min-width:300px;
    height:auto;
    /*margin:0 auto 0 0;*/
    display:table;
}
#flashmagazine .flashmag-name,
#flashmagazine .flashmag-name a {
    word-wrap:break-word;
    text-overflow:ellipsis;
}
#flashmagazine .flashmag-descr p {
    word-wrap:break-word;
}
#flashmagazine .flashmag-links {
    margin:10px 0 10px;
    font-size:0.9em;
    line-height:1.4;
}
#flashmagazine .flashmag-links a {
    display:inline;
}
#flashmagazine .flashmag-links a:hover {
    
}
#flashmagazine .flashmag-date {
    margin:10px 0 10px;
    font-size:0.9em;
    line-height:1.4;
}

