// Call to Action
.cta-settings() {
    @ctacolor: #2b9aff;
}

/* demo-button */
.button {
    .cta-settings();

    display: inline-block;
    border: 2px solid;
    border-radius: 3px;
    padding: .5rem 1.5rem;
    font-family: @fontsecond;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 @ctacolor, 0 0px 0px -2px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    color: @ctacolor;

    &:hover {
        color: #FFF !important;
        border-color: @ctacolor;
        box-shadow: inset 0 0 0 4rem @ctacolor, 0 3px 3px -2px rgba(0, 0, 0, 0.2);
    }

    .no-boxshadow &:hover {
        background: @ctacolor;
    }
}

.link-to-demo {
    .cta-settings();

    display: inline-block;
    border: 2px solid;
    border-radius: 3px;
    padding: .5rem 1.5rem;
    font-size: 1.5rem;
    font-family: @fontsecond;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 @ctacolor, 0 0px 0px -2px rgba(0,0,0,0.2);
    transition: 0.5s;
    color: @ctacolor;

    &:hover {
        color: #FFF !important;
        border-color: @ctacolor;
        box-shadow: inset 0 0 0 4rem @ctacolor, 0 3px 3px -2px rgba(0,0,0,0.2);
    }

    .no-boxshadow &:hover {
        background: @ctacolor;
    }
}
