.likely-container {
    margin: @pad auto @pad;
    text-align: center;
}

.likely:not(.likely-big) .likely__widget:not(:hover) {
    background: rgba(231, 231, 231, 0.0);
}

.likely {
    vertical-align: top;
}

.likely .likely__counter.likely__counter {
    background: none;
}

.likely-inline-container {
    margin-left: -.7em;

    .likely-small {
        margin: 0;
        vertical-align: top;

        .likely__widget {
            margin-bottom: 0;
        }
    }
}

.likely-big {
    min-height: 50px;
}
