.page-header {
    text-align: center;
    position: relative;

    .article-meta,
    .article-title {
        position: relative;
    }

    .article-meta {
        font-size: 12px;
    }

    .article-title {
        padding-left: @pad;
        padding-right: @pad;
        font-size: calc(~"1em + 4vw");

        @media (min-width: 1200px) {
            font-size: 64px;
        }
    }

    .nav-placeholder {
        padding-top: (@pad*5);
    }
}
