.page-header {
    text-align: center;
    position: relative;

    .article-meta,
    .article-title {
        position: relative;
    }

    .article-title {
        padding-left: @pad;
        padding-right: @pad;
    }

    .nav-placeholder {
        padding-top: (@pad*3);
    }
}
