.page-header {
    text-align: center;
    position: relative;

    .article-meta,
    .article-title {
        position: relative;
    }

    .article-meta {
        font-size: 14px;
    }

    .article-title {
        padding-left: @pad;
        padding-right: @pad;

        @media (min-width: 768px) {
            font-size: 48px;
        }
    }

    .nav-placeholder {
        padding-top: (@pad*3);
    }
}
