/* typography */

/* figures */
figure {
    margin: 4rem 0;

    img {
        width: inherit;
        max-width: 100%;
        height: auto;
        -ms-interpolation-mode: bicubic;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3), 3px 3px 10px rgba(0, 0, 0, 0.3);
    }

    figcaption {
        text-align: center;

        p {
            text-align: left;

            &:only-child {
                display: inline-block;
            }
        }
    }
}

figcaption {
    margin: 2rem auto;
    max-width: 25em;
    font-size: 0.9rem;
    text-align: left;
}

pre {
    background: #f8f8f8;
    border-style: solid;
    border-width: 1px 0;
    border-color: #f1f1f1;
    text-align: center;
    text-shadow: 1px 1px 0px #FFF;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;

    code {
        display: block;
        margin: 0;
        padding: 1em 2em;
        text-align: left;
        word-break: break-all;
    }
}

p code,
li code {
    word-break: break-word;
}

/* cli */
.cli {
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    padding: 0.2em 0.3em;
    background: #f8f8f8;
    font-weight: bold;
}
p .cli {
    margin: 0 0.2em;
}
/* cli end */


/* utility classes */
.clear {
    clear: both;
}
.nowrap {
    white-space: nowrap;
}
.breakall {
    word-break: break-all;
}
.text-center {
    text-align: center;
}
