.blogwall {
  border-style: solid;
  border-color: #E6E6E6;
  border-width: 0;
}
.blogwall:before,
.blogwall:after {
  content: "";
  display: block;
}
.blogwall:after {
  clear: both;
}
.blogwall-item {
  position: relative;
  overflow: hidden;
  padding: 24px;
  background-color: #FFF;
}
@media (min-width: 576px) {
  .blogwall-item {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 16px;
  }
}
.blogwall-item-star {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  color: #FFB300;
}
.blogwall-gridcell {
  box-sizing: border-box;
  border-style: inherit;
  border-width: 1px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: inherit;
  transition: box-shadow 0.3s, border-color 0.3s, z-index 0s;
  z-index: 0;
}
.blogwall-gridcell:first-child {
  border-top-color: inherit;
}
.blogwall-gridcell:hover {
  position: relative;
  z-index: 1;
  border-color: #2b9aff;
  transition: box-shadow 0s, border-color 0s, z-index 0s;
}
@media (min-width: 576px) {
  .blogwall-gridcell {
    float: left;
    width: calc(50% + 1px);
    height: 211px;
    margin-left: -1px;
    margin-top: -1px;
    border-color: inherit;
  }
}
@media (min-width: 992px) {
  .blogwall-gridcell {
    width: calc(33.333% + 1px);
  }
}
@media (min-width: 1200px) {
  .blogwall-gridcell {
    width: calc(25% + 1px);
  }
}
@media (min-width: 1600px) {
  .blogwall-gridcell {
    width: calc(20% + 1px);
  }
}
@media (min-width: 576px) {
  .blogwall-gridcell-promo {
    width: calc(100% + 1px);
    height: auto;
  }
}
@media (min-width: 992px) {
  .blogwall-gridcell-promo {
    width: calc(66.666% + 1px);
    height: 631px;
  }
}
@media (min-width: 1200px) {
  .blogwall-gridcell-promo {
    width: calc(50% + 1px);
  }
}
@media (min-width: 1600px) {
  .blogwall-gridcell-promo {
    width: calc(40% + 1px);
  }
}
.blogwall-date {
  display: inline-block;
}
.blogwall-link {
  display: block;
}
.blogwall-fauxlink {
  position: relative;
}
.blogwall-fauxlink:hover .blogwall-fauxlink--overlay {
  border-color: rgba(43, 154, 255, 0.2);
  box-shadow: inset 0 0 0 4px rgba(43, 154, 255, 0.2);
}
.blogwall-fauxlink--overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 0;
}
.blogwall-fauxlink--overlay:focus {
  border-color: #2b9aff;
  box-shadow: inset 0 0 0 4px rgba(43, 154, 255, 0.2);
}
.blogwall-fauxlink [role="link"],
.blogwall-fauxlink a:not(.blogwall-fauxlink--overlay) {
  position: relative;
  z-index: 2;
}
.blogwall-fauxlink:hover .blogwall-link {
  text-decoration-line: underline;
}
.blogwall-readable-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
@supports (display: grid) {
  .blogwall {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(210px, auto);
  }
  @media (min-width: 576px) {
    .blogwall {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 992px) {
    .blogwall {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1200px) {
    .blogwall {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (min-width: 1600px) {
    .blogwall {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  .blogwall:before,
  .blogwall:after {
    content: none;
  }
  .blogwall-gridcell {
    float: none;
    width: auto;
    height: auto;
  }
  @media (min-width: 576px) {
    .blogwall-gridcell-promo {
      grid-column: span 2;
      grid-row: span 1;
    }
  }
  @media (min-width: 992px) {
    .blogwall-gridcell-promo {
      grid-column: span 2;
      grid-row: span 3;
    }
  }
}

/*# sourceMappingURL=blogwall.css.map */
